# put this in the ~/.local/share/applications ,so we can start in the desktop quickly from Applications
[Desktop Entry]
Name=Redis
Comment=Redis
Exec=/home/peter/Documents/code/redis/start_redis.sh
Icon=/home/peter/Documents/code/redis/redis.png
Terminal=false
Type=Application
Categories=Utilities